<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="col-xs-6 col-lg-4">
      <div class="book_list">
        <%= link_to (image_tag(book.image_url)), book.detail_url %><br><hr>
        <%= book.title %><br><hr>
        <%= form_for book, url: req_books_path do |f| %>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :title %>
          <%= f.hidden_field :image_url %>
          <%= f.hidden_field :detail_url %>
          <%= f.hidden_field :author %>
          <%= f.hidden_field :publisher %>
          <%= f.hidden_field :user_id %>
          <%= f.submit 'リクエスト', class: :button if user_signed_in? %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>