<% if @books.present? %>
<% @books.each do |book| %>
<div class="col-xs-6 col-lg-4">
  <%= link_to (image_tag(book.image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.detail_url %>
  <%= book.title %>
  <%= book.author %>
  <%= book.publisher %>
  <%= form_for book, url: books_search_path do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :image_url %>
    <%= f.hidden_field :detail_url %>
    <%= f.hidden_field :author %>
    <%= f.hidden_field :publisher %>
    <%= f.submit '登録' %>
  <% end %>
</div>
<% end %>
<% end %>